In [5]:
# for data manipulation
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# pandas options
pd.set_option('display.max_columns', 50)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('mode.use_inf_as_na', True)
pd.options.mode.chained_assignment = None

# for date manipulation
from datetime import datetime

import pgeocode
import geopy

import os
from os import path
home = path.abspath(path.join("__file__",".."))
print(home)

/Users/anniecondon/Documents/hackathon/climate_change_hackathon.nosync/notebooks

In [3]:
# load training data created in the second notebook into dataframes
df = pd.read_csv(home + "/florida_industrial_sites.csv")

In [4]:
df.head()

,address,values,last_sale,sales_price,last_mortgage,mortgage_amount,building_area,lender,units,property_type,reported_owner
0,"13483 103rd St, Jacksonville, FL 32210","30.24832,-81.765310",21-Jul-20,"$75,482,301",21-Jul-20,"$200,730,000","1,010,220 SF",Prudential Ins Co/America,--,Industrial | Warehouse,Cecil Distribution Center Llc
1,"2400 Nw 116th St, Miami, FL 33167","25.88139,-80.200620",--,--,--,--,"803,285 SF",--,--,Industrial | Warehouse,Cp Logistics Westview Llc
2,"4001 Rice Rd, Plant City, FL 33566","27.99595,-82.063410",14-Nov-20,"$631,004",23-Nov-16,"$11,500,000","816,344 SF",Northwestern Mutual Life Ins,--,Industrial | Warehouse,Uscif Cnty Line Indl Portfoli
3,"12340 Boggy Creek Rd, Orlando, FL 32824","28.384270,-81.316254",21-Sep-18,"$108,000,000",31-Jul-20,"$52,000,000","880,296 SF",Principal Life Ins Co,--,Industrial | Warehouse,Ta Fulfillment Center Orl Llc
4,"1062 Old Dixie Hwy, Auburndale, FL 33823",NaN,18-Jul-16,"$8,500,000",1-Nov-21,"$2,230,000,000","831,600 SF",Na,1,Industrial | General Industrial,Medline Industries Inc

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="florida_industrial_sites")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)
Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
print((location.latitude, location.longitude))
(40.7410861, -73.9896297241625)
print(location.raw)
{'place_id': '9167009604', 'type': 'attraction', ...}

In [11]:
lat = []
longi = []

from geopy.geocoders import Nominatim
for addr in df['address']:
    geolocator = Nominatim(user_agent="florida_industrial_sites")
    location = geolocator.geocode(addr, timeout=10000, language = 'en')
    try:
        #city.append(location.address.split(',')[-4])
        lat.append(location.latitude)
        longi.append(location.longitude)
    except:
        print(addr)

1010 Crews Commerce Dr, Orlando, FL 32837
5000 Us Highway 1 N, Saint Augustine, FL 32095
2651 Scenic Hwy S, Haines City, FL 33844
10480 Yeager Rd, Jacksonville, FL 32218
3949 Family Dollar Pkwy, Marianna, FL 32448
18223 Nw 115th Ave, Alachua, FL 32615
2651 Ham Brown Rd, Kissimmee, FL 34746
6701 N Hiatus Rd, Tamarac, FL 33321
4281 Expressway Ln, Sarasota, FL 34238
2686 Commerce Rd, Macclenny, FL 32063
896 N Highway 17, Palatka, FL 32177
1402 Gordon Food Service Dr, Plant City, FL 33563
4627 J P Hall Blvd, Green Cove Springs, FL 32043
17900 Bee Line Hwy, Jupiter, FL 33478
13350 Us Highway 19 N, Clearwater, FL 33764
1141 Sw 12th Ave, Pompano Beach, FL 33069
20205 Hwy 27, Lake Wales, FL 33853
3000 Old Chemstrand Rd, Cantonment, FL 32533
215 County Road 216, Palatka, FL 32177

In [12]:
len(lat)

40

In [13]:
d = {'lat':lat,'long':longi}

In [14]:
df_lat_long = pd.DataFrame(d)

In [15]:
df_lat_long

      lat    long
0  30.248 -81.871
1  25.880 -80.227
2  27.997 -82.060
3  28.384 -81.316
4  28.073 -81.831
5  25.884 -80.368
6  30.246 -81.886
7  30.465 -81.680
8  28.020 -82.054
9  27.728 -82.388
10 27.488 -82.554
11 28.414 -81.373
12 30.458 -81.559
13 30.366 -81.845
14 30.237 -81.890
15 30.436 -81.572
16 30.491 -81.683
17 28.055 -81.788
18 27.412 -80.383
19 30.300 -81.943
20 26.781 -80.140
21 28.394 -81.532
22 25.880 -80.262
23 30.379 -81.786
24 30.378 -81.780
25 30.239 -81.547
26 30.606 -87.344
27 25.884 -80.254
28 27.993 -82.105
29 29.181 -82.206
30 26.305 -80.123
31 28.039 -82.005
32 28.427 -81.580
33 25.795 -80.369
34 28.582 -81.443
35 30.420 -81.648
36 28.042 -81.987
37 29.177 -82.139
38 30.382 -81.638
39 25.942 -80.199

In [16]:
df_lat_long.to_csv('florida_industrial_lat_long.csv')