## Add zip codes to Florida weather data for mapping

In [1]:
import pgeocode
import geopy
import pandas as pd

In [2]:
df= pd.read_csv('all_florida_weather_data_demand_predicted_xgboost.csv')

In [3]:
df.head()

,pred_demand_mwh_tampa,date_time,lat,long,Year,Month,Day,DHI,DNI,Dew Point,...,Temperature,Pressure,month,day_of_week,day_of_month,hour,is_weekend,season,temperature_3,dew_point_3
0,54583.920,2019-01-01,24.57,-81.78,2019,1,1,31.416667,321.958333,21.812500,...,24.966667,1019.333333,1,1,1,0,0,0,15562.583296,10378.063721
1,53470.586,2019-01-02,24.57,-81.78,2019,1,2,49.041667,214.333333,21.816667,...,25.012500,1019.500000,1,2,2,0,0,0,15648.449221,10384.012171
2,57685.520,2019-01-03,24.57,-81.78,2019,1,3,36.916667,300.500000,22.879167,...,25.179167,1017.416667,1,3,3,0,0,0,15963.350803,11976.243184
3,58263.832,2019-01-04,24.57,-81.78,2019,1,4,47.750000,246.666667,22.654167,...,25.154167,1016.166667,1,4,4,0,0,0,15915.848716,11626.373586
4,55025.652,2019-01-05,24.57,-81.78,2019,1,5,64.000000,162.916667,21.529167,...,24.033333,1016.583333,1,5,5,0,1,0,13881.680037,9978.876770

In [4]:
# import geopy
# import pandas as pd


# def get_zipcode(df, geolocator, lat_field, lon_field):
#     location = geolocator.reverse((df[lat_field], df[lon_field]))
#     return location.raw['address']['postcode']


# geolocator = geopy.Nominatim(user_agent='florida_solar_energy')

# # df = pd.DataFrame({
# #     'Lat': [29.39291, 29.39923, 29.40147, 29.38752, 29.39291, 29.39537, 29.39343, 29.39291, 29.39556],
# #     'Lon': [-98.50925, -98.51256, -98.51123, -98.52372, -98.50925, -98.50402, -98.49707, -98.50925, -98.53148]
# # })
# df.shape

In [5]:
pd.set_option("display.max_rows", None)
df[['lat','long']].value_counts()

lat    long
24.57  -81.78    365
25.77  -80.18    365
29.65  -81.62    365
29.73  -84.98    365
29.81  -85.30    365
29.89  -81.30    365
29.93  -82.10    365
30.01  -82.34    365
       -81.66    365
30.05  -83.18    365
30.13  -83.58    365
30.17  -85.66    365
       -84.38    365
       -82.62    365
30.29  -82.98    365
       -82.14    365
30.33  -81.66    365
30.41  -87.22    365
30.45  -87.22    365
       -85.06    365
       -84.98    365
       -84.30    365
       -83.42    365
30.53  -83.86    365
30.57  -84.58    365
30.65  -87.06    365
       -81.46    365
30.73  -86.10    365
30.77  -86.58    365
       -85.54    365
       -85.22    365
29.65  -82.34    365
29.45  -81.26    365
       -82.66    365
27.53  -81.82    365
26.13  -81.78    365
26.65  -81.86    365
26.73  -80.06    365
26.77  -81.42    365
26.85  -81.10    365
26.93  -82.06    365
27.21  -81.86    365
       -80.26    365
27.25  -80.82    365
27.33  -82.54    365
27.45  -80.34    365
27.49  -82.58    365
       -81.46    365
27.65  -80.38    365
29.17  -82.14    365
27.89  -81.86    365
27.93  -82.46    365
27.97  -82.78    365
28.29  -81.42    365
28.37  -82.18    365
28.53  -81.38    365
28.57  -82.38    365
28.61  -80.82    365
28.65  -82.10    365
28.81  -81.74    365
       -81.26    365
28.85  -82.34    365
29.01  -81.30    365
30.81  -85.70    365
dtype: int64

In [6]:
df.loc[(df.lat == 24.57) & (df.long == -81.78), 'zipcode'] = 33040
df.loc[(df.lat == 25.77) & (df.long == -80.18), 'zipcode'] = 33131
df.loc[(df.lat == 29.65) & (df.long == -81.62), 'zipcode'] = 32177
df.loc[(df.lat == 29.73) & (df.long == -84.98), 'zipcode'] = 32320
df.loc[(df.lat == 29.73) & (df.long == -84.98), 'zipcode'] = 32456
df.loc[(df.lat == 29.89) & (df.long == -81.3), 'zipcode'] = 32080
df.loc[(df.lat == 29.93) & (df.long == -82.1), 'zipcode'] = 32091
df.loc[(df.lat == 30.01) & (df.long == -82.34), 'zipcode'] = 32054
df.loc[(df.lat == 30.05) & (df.long == -83.18), 'zipcode'] = 32066
df.loc[(df.lat == 30.13) & (df.long == -83.58), 'zipcode'] = 32347
df.loc[(df.lat == 30.17) & (df.long == -85.66), 'zipcode'] = 32401
df.loc[(df.lat == 30.17) & (df.long == -84.38), 'zipcode'] = 32327
df.loc[(df.lat == 30.17) & (df.long == -82.62), 'zipcode'] = 32025
df.loc[(df.lat == 30.29) & (df.long == -82.98), 'zipcode'] = 32064
df.loc[(df.lat == 30.29) & (df.long == -82.14), 'zipcode'] = 32063
df.loc[(df.lat == 30.33) & (df.long == -81.66), 'zipcode'] = 32202
df.loc[(df.lat == 30.41) & (df.long == -87.22), 'zipcode'] = 32502
df.loc[(df.lat == 30.45) & (df.long == -87.22), 'zipcode'] = 32503
df.loc[(df.lat == 30.45) & (df.long == -85.06), 'zipcode'] = 32424
df.loc[(df.lat == 30.45) & (df.long == -84.98), 'zipcode'] = 32321
df.loc[(df.lat == 30.45) & (df.long == -84.3), 'zipcode'] = 32304
df.loc[(df.lat == 30.45) & (df.long == -83.42), 'zipcode'] = 32340
df.loc[(df.lat == 30.53) & (df.long == -83.86), 'zipcode'] = 32344
df.loc[(df.lat == 30.57) & (df.long == -84.58), 'zipcode'] = 32351
df.loc[(df.lat == 30.65) & (df.long == -87.06), 'zipcode'] = 32570
df.loc[(df.lat == 30.65) & (df.long == -81.46), 'zipcode'] = 32034
df.loc[(df.lat == 30.73) & (df.long == -86.1), 'zipcode'] = 32433
df.loc[(df.lat == 30.77) & (df.long == -86.58), 'zipcode'] = 32536
df.loc[(df.lat == 30.77) & (df.long == -85.54), 'zipcode'] = 32428
df.loc[(df.lat == 30.77) & (df.long == -85.22), 'zipcode'] = 32448
df.loc[(df.lat == 29.65) & (df.long == -82.34), 'zipcode'] = 32601
df.loc[(df.lat == 29.45) & (df.long == -81.26), 'zipcode'] = 32110
df.loc[(df.lat == 29.45) & (df.long == -82.66), 'zipcode'] = 32621
df.loc[(df.lat == 27.53) & (df.long == -81.82), 'zipcode'] = 33873
df.loc[(df.lat == 26.13) & (df.long == -81.78), 'zipcode'] = 34112
df.loc[(df.lat == 26.65) & (df.long == -81.86), 'zipcode'] = 33916
df.loc[(df.lat == 26.73) & (df.long == -80.06), 'zipcode'] = 33407
df.loc[(df.lat == 26.77) & (df.long == -81.42), 'zipcode'] = 33935
df.loc[(df.lat == 26.85) & (df.long == -81.1), 'zipcode'] = 33471
df.loc[(df.lat == 26.93) & (df.long == -82.06), 'zipcode'] = 33950
df.loc[(df.lat == 27.21) & (df.long == -81.86), 'zipcode'] = 34266
df.loc[(df.lat == 27.21) & (df.long == -80.26), 'zipcode'] = 34994
df.loc[(df.lat == 27.25) & (df.long == -80.82), 'zipcode'] = 34972
df.loc[(df.lat == 27.33) & (df.long == -82.54), 'zipcode'] = 34236
df.loc[(df.lat == 27.45) & (df.long == -80.34), 'zipcode'] = 34950
df.loc[(df.lat == 27.49) & (df.long == -82.58), 'zipcode'] = 34205
df.loc[(df.lat == 27.65) & (df.long == -80.38), 'zipcode'] = 32960
df.loc[(df.lat == 29.17) & (df.long == -82.14), 'zipcode'] = 34471
df.loc[(df.lat == 27.89) & (df.long == -81.86), 'zipcode'] = 33830
df.loc[(df.lat == 27.93) & (df.long == -82.46), 'zipcode'] = 33606
df.loc[(df.lat == 27.97) & (df.long == -82.78), 'zipcode'] = 33755
df.loc[(df.lat == 28.29) & (df.long == -81.42), 'zipcode'] = 34741
df.loc[(df.lat == 28.37) & (df.long == -82.18), 'zipcode'] = 33525
df.loc[(df.lat == 28.53) & (df.long == -81.38), 'zipcode'] = 32806
df.loc[(df.lat == 28.57) & (df.long == -82.38), 'zipcode'] = 34601
df.loc[(df.lat == 28.61) & (df.long == -80.82), 'zipcode'] = 32796
df.loc[(df.lat == 28.65) & (df.long == -82.1), 'zipcode'] = 33513
df.loc[(df.lat == 28.81) & (df.long == -81.74), 'zipcode'] = 32778
df.loc[(df.lat == 28.81) & (df.long == -81.26), 'zipcode'] = 32771
df.loc[(df.lat == 28.85) & (df.long == -82.34), 'zipcode'] = 34453
df.loc[(df.lat == 29.01) & (df.long == -81.3), 'zipcode'] = 32720
df.loc[(df.lat == 30.81) & (df.long == -85.7), 'zipcode'] = 32425

In [7]:
df.loc[(df.zipcode == 33040), 'num_people'] = 32891
df.loc[(df.zipcode == 33131), 'num_people'] = 14917
df.loc[(df.zipcode == 32177), 'num_people'] = 27132
df.loc[(df.zipcode == 32320), 'num_people'] = 3858
df.loc[(df.zipcode == 32456), 'num_people'] = 6966
df.loc[(df.zipcode == 32080), 'num_people'] = 20165
df.loc[(df.zipcode == 32091), 'num_people'] = 15472
df.loc[(df.zipcode == 32054), 'num_people'] = 12307
df.loc[(df.zipcode == 32066), 'num_people'] = 7312
df.loc[(df.zipcode == 32347), 'num_people'] = 8057
df.loc[(df.zipcode == 32401), 'num_people'] = 22647
df.loc[(df.zipcode == 32327), 'num_people'] = 26953
df.loc[(df.zipcode == 32025), 'num_people'] = 22380
df.loc[(df.zipcode == 32064), 'num_people'] = 6860
df.loc[(df.zipcode == 32063), 'num_people'] = 13429
df.loc[(df.zipcode == 32202), 'num_people'] = 7915
df.loc[(df.zipcode == 32502), 'num_people'] = 3331
df.loc[(df.zipcode == 32503), 'num_people'] = 32011
df.loc[(df.zipcode == 32424), 'num_people'] = 7994
df.loc[(df.zipcode == 32321), 'num_people'] = 6460
df.loc[(df.zipcode == 32304), 'num_people'] = 49927
df.loc[(df.zipcode == 32340), 'num_people'] = 11808
df.loc[(df.zipcode == 32344), 'num_people'] = 13193
df.loc[(df.zipcode == 32351), 'num_people'] = 17486
df.loc[(df.zipcode == 32570), 'num_people'] = 28817
df.loc[(df.zipcode == 32034), 'num_people'] = 31008
df.loc[(df.zipcode == 32433), 'num_people'] = 16025
df.loc[(df.zipcode == 32536), 'num_people'] = 19709
df.loc[(df.zipcode == 32428), 'num_people'] = 17412
df.loc[(df.zipcode == 32448), 'num_people'] = 8684
df.loc[(df.zipcode == 32601), 'num_people'] = 18585
df.loc[(df.zipcode == 32110), 'num_people'] = 7600
df.loc[(df.zipcode == 32621), 'num_people'] = 5584
df.loc[(df.zipcode == 33873), 'num_people'] = 14742
df.loc[(df.zipcode == 34112), 'num_people'] = 27002
df.loc[(df.zipcode == 33916), 'num_people'] = 20134
df.loc[(df.zipcode == 33407), 'num_people'] = 31551
df.loc[(df.zipcode == 33935), 'num_people'] = 20383
df.loc[(df.zipcode == 33471), 'num_people'] = 6818
df.loc[(df.zipcode == 33950), 'num_people'] = 20699
df.loc[(df.zipcode == 34266), 'num_people'] = 31055
df.loc[(df.zipcode == 34994), 'num_people'] = 15967
df.loc[(df.zipcode == 34972), 'num_people'] = 18534
df.loc[(df.zipcode == 34236), 'num_people'] = 12394
df.loc[(df.zipcode == 34950), 'num_people'] = 15436
df.loc[(df.zipcode == 34205), 'num_people'] = 29656
df.loc[(df.zipcode == 32960), 'num_people'] = 20037
df.loc[(df.zipcode == 34471), 'num_people'] = 25152
df.loc[(df.zipcode == 33830), 'num_people'] = 27542
df.loc[(df.zipcode == 33606), 'num_people'] = 17746
df.loc[(df.zipcode == 33755), 'num_people'] = 26146
df.loc[(df.zipcode == 34741), 'num_people'] = 40828
df.loc[(df.zipcode == 33525), 'num_people'] = 18439
df.loc[(df.zipcode == 32806), 'num_people'] = 24820
df.loc[(df.zipcode == 34601), 'num_people'] = 22336
df.loc[(df.zipcode == 32796), 'num_people'] = 20139
df.loc[(df.zipcode == 33513), 'num_people'] = 12086
df.loc[(df.zipcode == 32778), 'num_people'] = 18617
df.loc[(df.zipcode == 32771), 'num_people'] = 49481
df.loc[(df.zipcode == 34453), 'num_people'] = 10112
df.loc[(df.zipcode == 32720), 'num_people'] = 32421
df.loc[(df.zipcode == 32425), 'num_people'] = 13586

In [8]:
df['person_ratio_to_tampa'] = df['num_people']/800000

In [9]:
df.columns

Index(['pred_demand_mwh_tampa', 'date_time', 'lat', 'long', 'Year', 'Month',
       'Day', 'DHI', 'DNI', 'Dew Point', 'Surface Albedo', 'Wind Speed',
       'Relative Humidity', 'Temperature', 'Pressure', 'month', 'day_of_week',
       'day_of_month', 'hour', 'is_weekend', 'season', 'temperature_3',
       'dew_point_3', 'zipcode', 'num_people', 'person_ratio_to_tampa'],
      dtype='object')

In [10]:
df['real_pred_demand_mwh'] = df['person_ratio_to_tampa'] * df['pred_demand_mwh_tampa']

In [11]:
#df = df.rename(columns= {'pred_demand_mwh':'pred_demand_tampa_population'})

In [12]:
df.zipcode.value_counts()

32347.0    365
32351.0    365
32778.0    365
32054.0    365
34994.0    365
32080.0    365
32771.0    365
34950.0    365
32177.0    365
32304.0    365
32066.0    365
32327.0    365
33513.0    365
32034.0    365
32428.0    365
32064.0    365
33950.0    365
34741.0    365
34471.0    365
32401.0    365
32321.0    365
32570.0    365
34112.0    365
34453.0    365
32091.0    365
32502.0    365
33935.0    365
33606.0    365
33407.0    365
34601.0    365
33830.0    365
32796.0    365
32433.0    365
32202.0    365
34236.0    365
34972.0    365
32806.0    365
32536.0    365
32025.0    365
32424.0    365
33131.0    365
33916.0    365
32720.0    365
32425.0    365
34266.0    365
33873.0    365
32063.0    365
32621.0    365
32503.0    365
32456.0    365
33471.0    365
32340.0    365
33525.0    365
33040.0    365
33755.0    365
32960.0    365
32344.0    365
32110.0    365
32448.0    365
32601.0    365
34205.0    365
Name: zipcode, dtype: int64

In [13]:
df.zipcode.isna().sum()

1095

In [14]:
# df_1 = df.iloc[:1000]
# df_2 = df.iloc[1001:2000]
# df_3 = df.iloc[2001:3000]
# df_4 = df.iloc[3001:4000]
# df_5 = df.iloc[4001:5000]
# df_6 = df.iloc[5001:6000]
# df_7 = df.iloc[6001:7000]
# df_8 = df.iloc[7001:8000]
# df_9 = df.iloc[8001:9000]
# df_10 = df.iloc[9001:10000]
# df_11 = df.iloc[10001:11000]
# df_12 = df.iloc[11001:12000]
# df_13 = df.iloc[12001:13000]
# df_14 = df.iloc[13001:14000]
# df_15 = df.iloc[14001:15000]
# df_16 = df.iloc[15001:16000]
# df_17 = df.iloc[16001:17000]
# df_18 = df.iloc[17001:18000]
# df_19 = df.iloc[18001:19000]
# df_20 = df.iloc[19001:20000]
# df_21 = df.iloc[20001:21000]
# df_22 = df.iloc[21001:22000]
# df_23 = df.iloc[23001:23000]
# df_24 = df.iloc[23001:23360]

In [9]:
#df_1.head()

,pred_demand_mwh,date_time,lat,long,Year,Month,Day,DHI,DNI,Dew Point,...,Wind Speed,Relative Humidity,Temperature,Pressure,month,day_of_week,day_of_month,hour,is_weekend,season
0,1019.666560,2019-01-01,24.57,-81.78,2019,1,1,31.416667,321.958333,21.812500,...,5.345833,82.627083,24.966667,1019.333333,1,1,1,0,0,0
1,1039.180650,2019-01-02,24.57,-81.78,2019,1,2,49.041667,214.333333,21.816667,...,5.550000,82.560833,25.012500,1019.500000,1,2,2,0,0,0
2,1222.583727,2019-01-03,24.57,-81.78,2019,1,3,36.916667,300.500000,22.879167,...,4.237500,87.089583,25.179167,1017.416667,1,3,3,0,0,0
3,1247.313990,2019-01-04,24.57,-81.78,2019,1,4,47.750000,246.666667,22.654167,...,3.708333,86.078333,25.154167,1016.166667,1,4,4,0,0,0
4,1058.874221,2019-01-05,24.57,-81.78,2019,1,5,64.000000,162.916667,21.529167,...,3.750000,86.019167,24.033333,1016.583333,1,5,5,0,1,0

In [ ]:
#df_1['zipcode'] = df_1.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='lat', lon_field='long')

In [ ]:
#df_2['zipcode'] = df_2.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='lat', lon_field='long')

In [13]:
df.head()

,pred_demand_tampa_population,index,date_time,lat,long,Year,Month,Day,DHI,DNI,...,day_of_month,hour,is_weekend,season,temperature_3,dew_point_3,zipcode,num_people,person_ratio_to_tampa,real_pred_demand_mwh
0,2437.432079,0,2019-01-01,24.57,-81.78,2019,1,1,31.416667,321.958333,...,1,0,0,0,15562.583296,10378.063721,33040.0,32891.0,0.041114,100.211973
1,2415.161094,1,2019-01-02,24.57,-81.78,2019,1,2,49.041667,214.333333,...,2,0,0,0,15648.449221,10384.012171,33040.0,32891.0,0.041114,99.296329
2,2454.414927,2,2019-01-03,24.57,-81.78,2019,1,3,36.916667,300.500000,...,3,0,0,0,15963.350803,11976.243184,33040.0,32891.0,0.041114,100.910202
3,2418.226229,3,2019-01-04,24.57,-81.78,2019,1,4,47.750000,246.666667,...,4,0,0,0,15915.848716,11626.373586,33040.0,32891.0,0.041114,99.422349
4,2300.521903,4,2019-01-05,24.57,-81.78,2019,1,5,64.000000,162.916667,...,5,0,1,0,13881.680037,9978.876770,33040.0,32891.0,0.041114,94.583082

In [15]:
df_sub_day_1 = df.loc[df.date_time == '2019-01-02']

In [16]:
df_sub_day_1.shape

(64, 27)

In [17]:
df.to_csv('florida_weather_w_zip_codes_3.csv', index = False)

In [17]:
df_sub_day_1.to_csv('florida_weather_w_zip_codes_2019_01_02.csv', index = False)